@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(236, 229, 199);
    display: flex;
    align-items: center;
    position: relative;
  
  }
  #app{
    margin: 10px; 
  }
  .navbar{
    color: white;
    background: rgb(53, 66, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 6rem;
    z-index: 1;
  }
.navbar div {
    border: 3px solid rgb(228, 201, 136);
    padding: 20px;
    border-radius: 10px;
    color: rgb(100, 98, 98);
    
    /* margin-left: 50vw; */
}
.navbar div a:link, a:visited,a:active{
    text-decoration: none;
    color: white;
}
.navbar div a:hover{
    text-decoration: none;
    color: rgb(236, 229, 199);
    font-weight: bold;
    transition: 0.2s;
}
.div-connect{
    position: absolute;
    right: 10rem;
}